*{
    text-align: center;
    color: rgb(94, 94, 94);
}
body{
    background-color: rgb(255, 255, 255);
}
div{
    display: flow-root;
    text-align: center;
    margin: 0px 24px 0px 32px;
    border-width: 0.7px;
    border-radius: 10px;
    background: rgb(190, 190, 236);
}
div a img{
    margin: 40px;
    height: 59px;
}
div a img:hover{
    margin: 40px;
    height: 70px;
}
.moeda{
    border-radius: 101px;
}
.inf{
    display: inline-grid;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    justify-items: center;
    padding: 5px;
    height: 15px;
}